<a href="https://colab.research.google.com/github/pghatani0811/Decision-Tree/blob/main/Decision_Tree_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Decision Tree projest of

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
data =pd.read_csv('/content/sample_data/talking_data.csv') 
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

# New Section

# New Section

In [46]:
data.shape

(100000, 8)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [48]:
data.describe()

,ip,app,device,os,channel,is_attributed
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,91255.879670,12.04788,21.771250,22.818280,268.832460,0.002270
std,69835.553661,14.94150,259.667767,55.943136,129.724248,0.047591
min,9.000000,1.00000,0.000000,0.000000,3.000000,0.000000
25%,40552.000000,3.00000,1.000000,13.000000,145.000000,0.000000
50%,79827.000000,12.00000,1.000000,18.000000,258.000000,0.000000
75%,118252.000000,15.00000,1.000000,19.000000,379.000000,0.000000
max,364757.000000,551.00000,3867.000000,866.000000,498.000000,1.000000

In [49]:
data.isna().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [50]:
data=data.drop(['attributed_time'],axis=1)

In [51]:
data.head()

       ip  app  device  os  channel           click_time  is_attributed
0   87540   12       1  13      497  2017-11-07 09:30:38              0
1  105560   25       1  17      259  2017-11-07 13:40:27              0
2  101424   12       1  19      212  2017-11-07 18:05:24              0
3   94584   13       1  13      477  2017-11-07 04:58:08              0
4   68413   12       1   1      178  2017-11-09 09:00:09              0

In [52]:
len(data['ip'].unique())

34857

In [53]:
len(data['app'].unique())

161

In [54]:
len(data['device'].unique())

100

In [55]:
len(data['os'].unique())

130

In [56]:
len(data['channel'].unique())

161

In [57]:
len(data['click_time'].unique())

80350

**Click Time has the maximum number of inique values**

In [58]:
data['datetime']=pd.to_datetime(data['click_time'])

In [59]:
data.head()

,ip,app,device,os,channel,click_time,is_attributed,datetime
0,87540,12,1,13,497,2017-11-07 09:30:38,0,2017-11-07 09:30:38
1,105560,25,1,17,259,2017-11-07 13:40:27,0,2017-11-07 13:40:27
2,101424,12,1,19,212,2017-11-07 18:05:24,0,2017-11-07 18:05:24
3,94584,13,1,13,477,2017-11-07 04:58:08,0,2017-11-07 04:58:08
4,68413,12,1,1,178,2017-11-09 09:00:09,0,2017-11-09 09:00:09

In [60]:
data=data.drop(['click_time'],axis=1)

In [61]:
data['day of year']=data['datetime'].dt.day_of_year
data['month']=data['datetime'].dt.month
data['hour']=data['datetime'].dt.hour

In [62]:
data.head()

,ip,app,device,os,channel,is_attributed,datetime,day of year,month,hour
0,87540,12,1,13,497,0,2017-11-07 09:30:38,311,11,9
1,105560,25,1,17,259,0,2017-11-07 13:40:27,311,11,13
2,101424,12,1,19,212,0,2017-11-07 18:05:24,311,11,18
3,94584,13,1,13,477,0,2017-11-07 04:58:08,311,11,4
4,68413,12,1,1,178,0,2017-11-09 09:00:09,313,11,9

In [63]:
data=data.drop(['datetime'],axis=1)

In [64]:
data.head()

       ip  app  device  os  channel  is_attributed  day of year  month  hour
0   87540   12       1  13      497              0          311     11     9
1  105560   25       1  17      259              0          311     11    13
2  101424   12       1  19      212              0          311     11    18
3   94584   13       1  13      477              0          311     11     4
4   68413   12       1   1      178              0          313     11     9

In [65]:
x=data.drop(['is_attributed'],axis=1)

In [66]:
y=data['is_attributed']

In [67]:
# Checking if the data is balanced:-

data['is_attributed'].value_counts()

0    99773
1      227
Name: is_attributed, dtype: int64

In [68]:
# The data is unbalanced 
# Let's balance using SMOTE
from imblearn.over_sampling import SMOTE
sm = SMOTE()

x,y = sm.fit_resample(x,y)

# split your input and output into training and testing data

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [70]:
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn import metrics
from xgboost import plot_importance
xgbl=XGBClassifier()
xgbl.fit(x_train,y_train)
test_pred=xgbl.predict(x_test)
xgbl_score=xgbl.score(x_test,y_test)
print("The XGBoostclassifier model accuracy is {}".format(xgbl_score))
print("The confusion matrix of XGBoostclassifier model is")
print(metrics.confusion_matrix(y_test,test_pred))

The XGBoostclassifier model accuracy is 0.9560010022550739
The confusion matrix of XGBoostclassifier model is
[[19173   765]
 [  991 18981]]

In [71]:
from sklearn.metrics import roc_auc_score
test_pred=xgbl.predict_proba(x_test)
xgbl_score=roc_auc_score(y_test,test_pred[:,1])
print("The AUC model accuracy is {}".format(xgbl_score))

The AUC model accuracy is 0.9917677681847172

In [72]:
# 9 
from sklearn.ensemble import BaggingClassifier

bgcl = BaggingClassifier(n_estimators=10, max_samples= .7, bootstrap=True)
bgcl = bgcl.fit(x_train, y_train)
test_pred = bgcl.predict(x_test)
bgcl_score=bgcl.score(x_test, y_test)
print("The Bagging classifier model accuracy is {}".format(bgcl_score))
print("The confusion matrix of Bagging classifier model is")
print(metrics.confusion_matrix(y_test,test_pred))

The Bagging classifier model accuracy is 0.9969431220245553
The confusion matrix of Bagging classifier model is
[[19850    88]
 [   34 19938]]

# Compute AUC-ROC

In [73]:
from sklearn.metrics import roc_auc_score
test_pred=xgbl.predict_proba(x_test)
xgbl_score=roc_auc_score(y_test,test_pred[:,1])
print("The AUC model accuracy is {}".format(xgbl_score))

The AUC model accuracy is 0.9917677681847172